.user-details-container {
    width: 80vw;
    height: 70vh;
    position: absolute;
    top: 25vh;
    left: 10vw;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.user-details-container .left-column {
    width: 40vw;
    height: 100%;
    border-width: 0px 3px 0px 0px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    text-align: left;
}

.user-details-container .left-column .detail-row {
    line-height: 3rem;
    text-align: left;
    height: 3rem;
    padding-left: 10px;
    border-width: 0px 0px 3px 0px;
    border-color: black;
    border-style: solid;
}

.user-details-container .right-column {
    display: inline-block;
    width: 39.8vw;
    height: 100%;
    text-align: left;
}